<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" *ngFor="let gym of gyms">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{gym.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{gymImages[gym.id]}}" alt="Boulder Picture">
        <mat-card-content>
          <p>
            <span>Location: {{ gym.location }} </span>
            <br />
            <span>Route Reset: {{ reverseString(gym.routeReset) }} </span>
          </p>
       
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAdd(gym.id)">Purchase</button>
          <button mat-raised-button  (click)="openDialog(gym.id)">Check Weather</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>